{{#if scope.form}}
<form action="" method="post" enctype="application/x-www-form-urlencoded" accept-charset="utf-8">
  <button type="submit">Save</button>
</form>
{{else}}
{{esc '{{!-- view content --}}'}}
{{/if}}
